body {
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fff;
  color: #ff7fa1;
}

.navbar-laravel {
  background-color: #ff7fa1;
}

.navbar-brand {
  color: #fff !important;
}

.nav-link {
  color: #fff !important;
}

.table-dark {
  color: #fff;
}

.list-group-item {
  border-color: #fff;
  background-color: #ff7fa1;
}

.login-box {
  background-color: rgba(0, 0, 0, 0);
}

.login-header {
  background-color: #fff;
}

.login-body {
  background-color: #fff;
}

